@charset "UTF-8";
/* Purple: hsl(299, 52%, 32%)
PurpleExemplo: hsl(250,66%, 75%); */
/* COLORS */
/* FONTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter Tight", sans-serif;
  font-size: 0.938rem;
  background-color: hsl(299, 100%, 99%);
  color: hsl(299, 12%, 45%);
}

h1,
h2,
h3 {
  color: hsl(299, 12%, 15%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Purple: hsl(299, 52%, 32%)
PurpleExemplo: hsl(250,66%, 75%); */
/* COLORS */
/* FONTS */
.profile {
  position: relative;
  padding-top: 3.5rem;
}

.profile__container {
  row-gap: 2rem;
}

.profile__data {
  display: grid;
  text-align: center;
}

.profile__perfil {
  width: 100px;
  height: 100px;
  /*
  background: linear-gradient(
    180deg,
    hsla(($hue), ($sat), ($lig), 1) 0%,
    hsla(($hue), ($sat), ($lig), 0.2) 100%
  );
  border-radius: 50%; */
  overflow: hidden;
}
.profile__perfil img {
  /*    width: 75px; */
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.profile__border {
  border: 3.5px solid hsl(299, 52%, 32%);
  justify-self: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 0.75rem;
}

.profile__name {
  font-size: 1.25rem;
}

.profile__professional {
  font-size: 0.75rem;
  font-weight: 500;
  color: hsl(299, 12%, 45%);
  margin-bottom: 1rem;
  margin-top: 0.25rem;
}

.profile__social {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.profile__social-link {
  font-size: 1.25rem;
  color: hsl(299, 12%, 15%);
  transition: 0.3s;
}
.profile__social-link:hover {
  color: hsl(299, 52%, 32%);
}

.profile__info {
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.profile__info-group {
  text-align: center;
}

.profile__info-number {
  font-size: 0.938rem;
  margin-bottom: 0.25rem;
}

.profile__info-description {
  font-size: 0.813rem;
  font-weight: 500;
}

.profile__buttons,
.profile__buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__buttons {
  column-gap: 1rem;
}

.profile__buttons-small {
  column-gap: 0.25rem;
}

.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: hsl(299, 52%, 32%);
  color: #fff;
  padding: 1.15rem 1.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  box-shadow: 0 8px 24px hsla(299, 52%, 32%, 0.25);
}
.button i {
  font-size: 1.25rem;
}
.button:hover {
  background-color: hsl(299, 52%, 57%);
}

.button__small {
  padding: 0.75rem;
  box-shadow: none;
}

.button__gray {
  background-color: hsl(299, 8%, 92%);
  color: hsl(299, 12%, 15%);
}
.button__gray:hover {
  background-color: hsl(299, 8%, 75%);
}

.filters__content {
  margin: 2rem 0 2.5rem;
  background-color: hsl(299, 8%, 92%);
  padding: 0.375rem;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5rem;
}

.filters__button {
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: hsl(299, 12%, 15%);
  font-size: 0.813rem;
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  border-radius: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s;
}
.filters__button:hover {
  background-color: hsl(299, 100%, 99%);
}

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}
.projects__card img {
  width: 100%;
  height: 100%;
}
.projects__card:hover .projects__modal {
  bottom: 0;
}

.projects__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(180deg, hsla(299, 24%, 40%, 0.3) 0%, hsl(299, 24%, 4%) 95%);
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.2rem;
  transition: 0.3s;
}

.projects__subtitle,
.projects__title {
  color: #fff;
}

.projects__subtitle {
  font-size: 0.75rem;
}

.projects__title {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.projects__button {
  padding: 0.5rem;
}

.skills__content {
  row-gap: 3.5rem;
}

.skills__title {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills__box {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}

.skills__group {
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills__data {
  display: flex;
  column-gap: 0.5rem;
}
.skills__data i {
  font-size: 1rem;
  color: hsl(299, 52%, 57%);
}

.skills__name {
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 18px;
}

.skills__level {
  font-size: 0.75rem;
}

/* Ocultar e exibir projetos e skills */
.filters [data-content] {
  display: none;
}

.filters__active[data-content] {
  display: grid;
}

/*  Botão de filtro ativo */
.filter-tab-active {
  background-color: hsl(299, 100%, 99%);
}

/* ======== CLASSES REUTILIZAVÉIS ======== */
.container {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*# sourceMappingURL=main.css.map */
